<div>
    Role management
</div>
<div class="ui relaxed divided selection list">
    <a class="item role" *ngFor="let role of roles" [routerLink]="['edit', role.id]">
        <div class="content">
            {{ role.name }}
        </div>
        <div class="description">
            <div class="ui relaxed list">
                <div class="item" *ngFor="let permission of role.permissions">
                    <div class="content">
                        {{ permission.permissionType }}
                    </div>
                    <div class="description">
                        {{ permission.description }}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<router-outlet></router-outlet>