# dependencies
node_modules

public
!public/index.html

npm-debug*.log

assets/semantic/**
!assets/semantic/dist
!assets/semantic/dist/themes
!assets/semantic/dist/themes/**
!assets/semantic/dist/semantic.min.css
!assets/semantic/dist/semantic.js


#System Files
.DS_Store
Thumbs.db