<h2>
    Register
</h2>
<sm-loader class="inverted" text="Registering..." [complete]="!isLoading"></sm-loader>
<div class="ui grid stackable divided two column">
    <div class="column">
        <h4>
            Create a new account
        </h4>
        <form class="ui form" [ngClass]="{ 'error': !isFormErrorFree }" (ngSubmit)="register()" [formGroup]="registerForm">
            <div class="field" *ngIf="formErrors.Model && formErrors.Model.length">
                <div class="ui error message">
                    <ul class="list">
                        <li *ngFor="let error of formErrors.Model">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <sm-input label="Username" icon="user" class="left" [control]="registerForm.controls.Username" required></sm-input>
                <div class="ui label basic warning pointing" *ngIf="formErrors.Username && formErrors.Username.length">
                    <ul>
                        <li *ngFor="let error of formErrors.Username">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <sm-input label="Email" icon="mail" class="left" [control]="registerForm.controls.Email" type="email" required></sm-input>
                <div class="ui label basic warning pointing" *ngIf="formErrors.Email && formErrors.Email.length">
                    <ul>
                        <li *ngFor="let error of formErrors.Email">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <sm-input label="Password" icon="asterisk" class="left" [control]="registerForm.controls.Password" type="password" required></sm-input>
                <div class="ui label basic warning pointing" *ngIf="formErrors.Email && formErrors.Password.length">
                    <ul>
                        <li *ngFor="let error of formErrors.Password">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <sm-input label="Confirm password" icon="asterisk" class="left" name="ConfirmPassword" [control]="registerForm.controls.ConfirmPassword" type="password" required></sm-input>
                <div class="ui label basic warning pointing" *ngIf="formErrors.ConfirmPassword && formErrors.ConfirmPassword.length">
                    <ul>
                        <li *ngFor="let error of formErrors.ConfirmPassword">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
            <sm-button type="submit" class="primary" [disabled]="isLoading || !registerForm.valid">
                Register
            </sm-button>
        </form>
    </div>
    <div class="column">
        <h4>
            Register with another service
        </h4>
        Things like OAuth go here
    </div>
</div>