.loading-bar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;

    &[mode="determinate"][aria-valuenow="0"]
    {
        display: none;
    }
}

.full.height
{
    display: flex;
    height: 100%;

    nav-menu
    {
        $menu-width: 200px;
        min-width: $menu-width;
        max-width: $menu-width;
    }
    .main-content
    {
        flex: 1 1 auto;
        background: #fff;
        padding: 15px 0 15px 10px;
    }
}
