@import "common-properties.scss";

html
{
    overflow: hidden;
}

$menu-width: 200px;

.main.menu
{
    &.sidebar
    {
        &.visible,
        &.animating
        {
            width: $menu-width;
        }
        &.visible
        {
            overflow: visible !important;

            &.left.ui ~ .pusher
            {
                -webkit-transform: translate3d($menu-width, 0, 0);
                transform: translate3d($menu-width, 0, 0);
            }
        }
    }

    .item
    {
        .fa,
        .glyphicon
        {
            margin-right: 10px;
        }

        &.ui.brand
        {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

app
{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
}

.full.height
{
    display: flex;
    min-height: 100%;

    sm-menu
    {   
        .main.menu
        {
            position: relative;
            min-width: $menu-width;
            max-width: $menu-width;
            height: 100%;
            border-radius: 0;

            @media(max-width: $mobile-breakpoint)
            {
                display: none;
            }
        }
    }
    .menu.fixed.top
    {
        @media(min-width: $small-monitor-breakpoint)
        {
            display: none;
        }
    }
    .main-content
    {
        flex: 1 1 auto;
        background: #fff;
        margin: 0 18px;
        padding: 15px 10px;

        @media(max-width: $mobile-breakpoint)
        {
            margin: 0 10px;
            padding-top: 59px;
        }
    }
}
