@import "common-properties.scss";

.loading-bar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;

    &[mode="determinate"][aria-valuenow="0"]
    {
        display: none;
    }
}

$menu-width: 200px;

.main.menu
{
    &.sidebar.overlay.visible
    {
        width: $menu-width;
    }

    .item
    {
        .fa,
        .glyphicon
        {
            margin-right: 10px;
        }

        &.ui.brand
        {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
    }
}



.full.height
{
    display: flex;
    height: 100%;

    sm-menu
    {   
        .main.menu
        {
            min-width: $menu-width;
            max-width: $menu-width;
            height: 100%;

            @media(max-width: $mobile-breakpoint)
            {
                display: none;
            }
        }
    }
    .menu.fixed.top
    {
        @media(min-width: $small-monitor-breakpoint)
        {
            display: none;
        }
    }
    .main-content
    {
        flex: 1 1 auto;
        background: #fff;
        padding: 15px 0 15px 10px;

        @media(max-width: $mobile-breakpoint)
        {
            padding-top: 59px;
        }
    }
}
