<div class="full height">
    <sm-sidebar class="vertical left inverted menu main" (click)="sidebar.hide()" #sidebar>
        <a sm-item [routerLinkActive]="['active']" [routerLink]="['/home']">
            <span class="fa fa-home"></span> Home
        </a>
        <a sm-item [routerLinkActive]="['active']" [routerLink]="['/counter']">
            <span class="fa fa-calculator"></span> Counter
        </a>
        <a sm-item [routerLinkActive]="['active']" [routerLink]="['/forums']">
            <span class="fa fa-comment"></span> Forums
        </a>
        <a sm-item *ngIf="!isLoggedIn" [routerLinkActive]="['active']" [routerLink]="['/account/sign-in']">
            <span class="fa fa-sign-in"></span> Sign in
        </a>
        <a sm-item *ngIf="!isLoggedIn" [routerLinkActive]="['active']" [routerLink]="['/account/register']">
            <span class="fa fa-pencil-square-o"></span> Register
        </a>
        <a sm-item *ngIf="isLoggedIn" (click)="logOut()">
            <span class="fa fa-sign-out"></span> Sign out
        </a>
    </sm-sidebar>
    <sm-menu class="inverted fixed top large mobile-menu">
        <a sm-item (click)="sidebar.show({ 'transition': 'overlay' })">
            <span class="fa fa-bars"></span>
        </a>
        <a sm-item class="ui brand" [routerLink]="['/home']">
            Selama
        </a>
    </sm-menu>
    <sm-menu class="vertical left inverted pointing main">
        <a sm-item class="ui brand" [routerLink]="['/home']">
            Selama
        </a>
        <a sm-item [routerLinkActive]="['active']" [routerLink]="['/home']">
            <span class="fa fa-home"></span> Home
        </a>
        <a sm-item [routerLinkActive]="['active']" [routerLink]="['/counter']">
            <span class="fa fa-calculator"></span> Counter
        </a>
        <a sm-item [routerLinkActive]="['active']" [routerLink]="['/forums']">
            <span class="fa fa-comment"></span> Forums
        </a>
        <a sm-item *ngIf="!isLoggedIn" [routerLinkActive]="['active']" [routerLink]="['/account/sign-in']">
            <span class="fa fa-sign-in"></span> Sign in
        </a>
        <a sm-item *ngIf="!isLoggedIn" [routerLinkActive]="['active']" [routerLink]="['/account/register']">
            <span class="fa fa-pencil-square-o"></span> Register
        </a>
        <a sm-item *ngIf="isLoggedIn" (click)="logOut()">
            <span class="fa fa-sign-out"></span> Sign out
        </a>
    </sm-menu>
    <div class="main-content">
        <div class="ui container fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>