<sm-button class="positive" (click)="sidebar.show({'transition': 'overlay'})">
    Launch
</sm-button>
<sm-sidebar class="vertical left pointing inverted menu" #sidebar>
    <a sm-item class="ui brand" [routerLink]="['/home']">
        Selama
    </a>
    <a sm-item [routerLinkActive]="['active']" [routerLink]="['/home']">
        <span class="fa fa-home"></span> Home
    </a>
    <a sm-item [routerLinkActive]="['active']" [routerLink]="['/counter']">
        <span class="fa fa-calculator"></span> Counter
    </a>
    <a sm-item [routerLinkActive]="['active']" [routerLink]="['/forums']">
        <span class="fa fa-comment"></span> Forums
    </a>
    <a sm-item *ngIf="!isLoggedIn" [routerLinkActive]="['active']" [routerLink]="['/account/sign-in']">
        <span class="fa fa-sign-in"></span> Sign in
    </a>
    <a sm-item *ngIf="!isLoggedIn" [routerLinkActive]="['active']" [routerLink]="['/account/register']">
        <span class="fa fa-pencil-square-o"></span> Register
    </a>
    <a sm-item *ngIf="isLoggedIn" (click)="logOut()">
        <span class="fa fa-sign-out"></span> Sign out
    </a>
</sm-sidebar>