.sidebar
{
    @media(max-width: 953px)
    {
        display: none;
    }
}

.item
{
    .fa,
    .glyphicon
    {
        margin-right: 10px;
    }

    &.ui.brand
    {
        text-align: center;
        font-size: 24px;
    }
}